.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.nav-page-list {
  position: absolute;
  top: 4rem;
  left: 0;
  right: 0;
  background-color: #fff;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom: 1px solid #0f223a1f;
}

.nav-route {
  font-weight: bold;
  font-size: 16px;
  color: #3d3d3d;
}

.nav-route:hover {
  color: #F5B901;
}

.btn-login {
  border: none;
  background-color: inherit;
  padding: 3px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  border-radius: 5px;
  margin: 3px 0px;
  box-shadow: 0 0 0 2px #F5B901;
  margin-right: 14px;
}

.btn-login:hover {
  background-color: #F5B901;
  color: white;
}

.btn-signup {
  background-color: #F5B901;
  padding: 3px 20px;
  font-size: 16px;
  color: #3D3D3D;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  border-radius: 5px;
  margin: 3px 0px;
}

.btn-signup:hover {
  background-color: white;
  box-shadow: 0 0 0 2px #F5B901;
}